<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bloggum Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Hello World
            </h1>
            <p class="subtitle">
                My first website with <strong>Bulma</strong>!
            </p>
        </div>
        <div class="container is-size-1 my-4">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div class="container my-4">
                <h2><a class="is-size-3" href="">{{ post.title }}</a></h2>
                <p class="is-size-5 is-justified">{{ post.text }}</p>
                <p class="subtitle mt-2">published: {{ post.published_date }}</p>
            </div>
        {% endfor %}
    </section>
</body>

</html>